<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../style/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <span class="logo">Logo</span>
        <div class="options">
            <span class="option-1">Home</span>
            <span class="option-2">About</span>
            <span class="option-3">
                <span>Service</span>
                <br />
                <span></span>
            </span>
            <span class="option-4">Book Service</span>
            <span class="option-5">Addresses</span>
            <span class="option-6">Contact</span>
        </div>
    </div>
    <div>
        <div class="hero">
            <img src="../assets/shop-homepage.jpg" alt="landing image" class="desktop-image" />
            <div class="landing-banner">
                <span class="banner-text1">Welcome to Ottawa’s</span>
                <br />
                <span class="banner-text2">Marion Barber Shop</span>
                <div class="banner-button">
                    <span class="banner-btn-text body1">Book Service</span>
                </div>
            </div>
        </div>
        <div class="aboutus">
            <div class="aboutus-gallery">
                <img src="../assets/haircut-1.jpg" alt="Rectangle23338" class="aboutus-image1" />
                <img src="../assets/haircut-2.jpg" alt="Rectangle33339" class="aboutus-image2" />
                <img src="../assets/haircut-3.jpg" alt="Rectangle43340" class="aboutus-image3" />
            </div>
            <div class="aboutus-content">
                <div class="aboutus-title">
                    <span class="aboutus-text">About us</span>
                </div>
                <span class="aboutus-body body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </span>
            </div>
        </div>
        <div class="services">
            <div class="services-header">
                <span class="services-title">Service</span>
                <span class="services-intro">
                    Serving the nation’s capital, we want to be your local Ottawa
                    barbershop. Find us on Murray St, in the heart of Byward Market!
                </span>
            </div>
            <div class="sbs-container">
                <div class="service-1">
                    <div class="service-title-1">Men’s Hair cut</div>
                    <div class="service-body-1 body">
                        Man Hair Cut with a expert with 10 years experience.
                    </div>
                    <div class="service-picture-frame1">
                        <img alt="Rectangle533166" src="../assets/mens-cut.jpg" class="service-1-image" />
                    </div>
                    <div class="service-btn-1">
                        <span class="service-btntxt-1 body">Book Now for $90</span>
                    </div>
                </div>
                <div class="service-2">
                    <span class="service-title-2">Women’s Hair cut</span>
                    <span class="service-body-2 body">
                        Woman Hair Cut with a expert with 20 years experience.
                    </span>
                    <div class="service-picture-frame2">
                        <img alt="Rectangle533166" src="../assets/women-haircut.jpg" class="service-1-image" />
                    </div>
                    <div class="service-btn-2">
                        <span class="service-btntxt-2 body">Book Now for $120</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="expertise">
            <div class="expertise-header">
                <span class="service-text">Our Expertise</span>
                <span class="service-summary-text">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32
                </span>
            </div>
            <div class="sbs-container-2">
                <div class="hairdresser-1">
                    <div class="hairdresser-title">Idiris Alex</div>
                    <div class="hairdresser-summary body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                    </div>
                    <div class="picture-frame-1">
                        <img alt="Rectangle533166" src="../assets/mens-cut.jpg" class="male-dresser" />
                    </div>
                </div>
                <div class="hairdresser-2">
                    <span class="hairdresser-title-2">Marion Alex</span>
                    <span class="hairdresser-summary-2 body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                    </span>
                    <div class="picture-frame-2">
                        <img alt="Rectangle533166" src="../assets/women-haircut.jpg" class="female-dresser" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <h3>The Marion Barbershop</h3>
            <p>1257 Donal st Ottawa, ON K1V 3W4</p>
            <p>Contact: (613)-680-7578</p>
            <p>Hours</p>
            <p>Monday - Friday : 8AM to 9PM</p>
            <p>Saturday : 8AM to 9PM</p>
            <p>Sunday : 8AM to 9PM</p>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">The Marion Barbershop</a> </p>
            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>