/*
.desktop1149-desktop1149 {
    width: 2000px;
    height: 5426px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 2000px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
}
*/
.desktop1149-hero326 {
    top: 68px;
        width: 100%;
        height: 80%;
        display: flex;
        overflow: hidden;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-color: transparent;
        background-image: url("../assets/shop-homepage.jpg");
}

.desktop1149-image {
    top: 0px;
    /* left: 0px; */
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

.desktop1149-group13223 {
    /* top: 159px; */
    /* left: 209px; */
    width: 70%;
    height: 50%;
    display: flex;
    position: absolute;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 1; */
    border-color: transparent;
}

.desktop1149-text {
    /* top: 143px; */
    /* left: 0px; */
    color: rgba(255, 255, 255, 1);
    width: inherit;
    height: auto;
    position: absolute;
    font-size: 70px;
    align-self: center;
    border-bottom: ridge;
    margin-bottom: 0;
    font-style: normal;
    text-align: center;
    font-family: Poppins;
    font-weight: 400px;
    /* line-height: 160px; */
    /* font-stretch: normal; */
    text-decoration: none;
}

.desktop1149-text01 {
    /* top: 0px; */
    /* left: 78px; */
    color: rgba(255, 255, 255, 1);
    width: inherit;
    height: auto;
    position: absolute;
    font-size: 45px;
    align-self: center;
    /* font-style: normal; */
    text-align: center;
    top: 20%;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    /* line-height: normal; */
    /* font-stretch: normal; */
    text-decoration: none;
}

.desktop1149-btn3220 {
    top: 342px;
    /* left: 399px; */
    /* width: 202px; */
    height: 45px;
    display: flex;
    padding: 0 38px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 1000px;
    background-color: darkred;
}

.desktop1149-text05 {
    color: rgba(255, 255, 255, 1);
        height: auto;
        align-self: auto;
        text-align: center;
        /* line-height: 160px; */
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
}

.desktop1149-navbar3226 {
    width: 100%;
    height: 60px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: rgba(20, 19, 19, 1);
    background-color: rgba(20, 19, 19, 1);
}

.desktop1149-text06 {
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    /*position: absolute;*/
    font-size: 38px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Oleo Script Swash Caps;
    /*font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;*/
    text-decoration: none;
    margin-left: 10%;
}

.desktop1149-frame13230 {
    width: fit-content;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    height: inherit;
    margin-right: 10%;
    margin-left: auto;
    position: relative;
}

.desktop1149-text07 {
    color: rgba(255, 255, 255, 1);
        width: fit-content;
        height: auto;
        /* margin: 0 20px 0 0; */
        font-size: 18px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        padding-right: 20px;
}

.desktop1149-text08 {
    color: rgba(255, 255, 255, 1);
        width: fit-content;
        height: auto;
        /* margin: 0 20px 0 0; */
        font-size: 18px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        padding-right: 20px;
}

.desktop1149-text09 {
    color: rgba(255, 255, 255, 1);
        width: fit-content;
        height: auto;
        /* margin: 0 20px 0 0; */
        font-size: 18px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        padding-right: 20px;
}

.desktop1149-text13 {
    color: rgba(255, 255, 255, 1);
        width: fit-content;
        height: auto;
        /* margin: 0 20px 0 0; */
        font-size: 18px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        padding-right: 20px;
}

.desktop1149-text14 {
    color: rgba(255, 255, 255, 1);
        width: fit-content;
        height: auto;
        /* margin: 0 20px 0 0; */
        font-size: 18px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        padding-right: 20px;
}

.desktop1149-text15 {
    color: rgba(255, 255, 255, 1);
        width: fit-content;
        height: auto;
        /* margin: 0 20px 0 0; */
        font-size: 18px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        padding-right: 20px;
}

.desktop1149-aboutus33138 {
    top: 100%;
        /* left: 120px; */
        width: 100%;
        height: 70%;
        display: flex;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-color: transparent;
}

.desktop1149-images33135 {
    /* align-content: center; */
        /* top: 0px; */
        /* left: 0px; */
        width: 568px;
        height: 488px;
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        /* flex-shrink: 1; */
        border-color: transparent;
        /* left: 30%; */
}

.desktop1149-image1 {
    top: 0px;
    left: 0px;
    width: 269px;
    height: 488px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.desktop1149-image2 {
    top: 0px;
    left: 299px;
    width: 269px;
    height: 229px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.desktop1149-image3 {
    top: 259px;
    left: 299px;
    width: 269px;
    height: 229px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.desktop1149-content33137 {
    /* top: 18px; */
        /* left: 698px; */
        width: 568px;
        height: 488px;
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        align-items: flex-start;
        flex-shrink: 1;
        border-color: transparent;
        /* right: 30%; */
        margin-left: 50px;
}

.desktop1149-title33136 {
    top: 0px;
    left: 0px;
    width: 209px;
    height: 116.03166198730469px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.desktop1149-text16 {
    /* top: 0px; */
        /* left: 0px; */
        color: var(--dl-color-default-darkd8e6e);
        /* width: 209px; */
        height: auto;
        position: absolute;
        font-size: 48px;
        align-self: left;
        font-style: normal;
        text-align: left;
        font-family: Oleo Script Swash Caps;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        border-bottom-style: groove;
}

.desktop1149-svg {
    top: 116px;
    left: 27.1741886138916px;
    width: 156;
    height: 1px;
    position: absolute;
}

.desktop1149-btn33133 {
    top: 292px;
    left: 0px;
    width: 184px;
    height: 160px;
    display: flex;
    padding: 0 38px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 1000px;
    background-color: var(--dl-color-default-primary68cc8);
}

.desktop1149-text17 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    align-self: auto;
    text-align: center;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-text18 {
    top: 130px;
        left: 0px;
        color: rgba(0, 0, 0, 1);
        width: 468px;
        height: auto;
        position: absolute;
        align-self: auto;
        text-align: left;
        /* line-height: 160px; */
        text-decoration: none;
        font-size: 23px;
}

.desktop1149-text19 {
    top: 169px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 468px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-services33164 {
    top: 180%;
        /* left: 0px; */
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-color: transparent;
}

.expertise {
    top: 280%;
    /* left: 0px; */
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

.sbs-container {
    /* left: 120px; */
        width: 100%;
        height: fit-content;
        display: flex;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-color: transparent;
}

.sbs-container-2 {
    /* left: 120px; */
        width: 100%;
        height: fit-content;
        display: flex;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-color: transparent;
        margin-top: 10%;
}

.desktop1149-title33139 {
    top: 0;
        /* left: 191px; */
        width: 70%;
        height: 140px;
        display: flex;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        /* border-color: transparent; */
        flex-direction: column;
        border-bottom-style: groove;
}

.expertise-header {
        top: 0;
            /* left: 191px; */
            width: 70%;
            height: 140px;
            display: flex;
            position: absolute;
            box-sizing: border-box;
            align-items: center;
            /* border-color: transparent; */
            flex-direction: column;
            /* border-bottom-style: groove; */
}

.desktop1149-text20 {
    color: var(--dl-color-default-darkd8e6e);
    width: 249px;
    height: auto;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.service-text {
    color: var(--dl-color-default-darkd8e6e);
        width: fit-content;
        height: auto;
        font-size: 64px;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-family: Oleo Script Swash Caps;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        border-bottom-style: groove;
}

.desktop1149-text21 {
    color: rgba(0, 0, 0, 1);
        /* width: 1121px; */
        height: auto;
        font-size: 23px;
        align-self: auto;
        font-style: normal;
        text-align: justified;
        font-family: Poppins;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
}

.service-summary-text {
    color: rgba(0, 0, 0, 1);
        /* width: 1121px; */
        height: auto;
        font-size: 23px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family: Poppins;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        margin-top: 2%;
        text-decoration: none;
}

.desktop1149-svg1 {
    width: 149;
    height: 1px;
}

.desktop1149-mens-hair-cut33200 {
    /* top: 251px; */
        /* left: 115px; */
        width: 581px;
        height: 577px;
        display: flex;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        /* flex-shrink: 1; */
        justify-content: center;
        border-color: transparent;
}

.hairdresser-1 {
    /* top: 251px; */
    /* left: 115px; */
    width: 581px;
    height: 577px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    /* flex-shrink: 1; */
    justify-content: center;
    border-color: transparent;
}

.desktop1149-text22 {
    top: 100px;
        /* left: 3px; */
        color: rgba(0, 0, 0, 1);
        width: 578px;
        height: fit-content;
        position: absolute;
        align-self: auto;
        text-align: center;
        /* line-height: 160px; */
        text-decoration: none;
        font-size: 20px;
        left: 0;
}

.hairdresser-summary {
    top: 100px;
    /* left: 3px; */
    color: rgba(0, 0, 0, 1);
    width: 578px;
    height: fit-content;
    position: absolute;
    align-self: auto;
    text-align: center;
    /* line-height: 160px; */
    text-decoration: none;
    font-size: 20px;
    left: 0;
}

.desktop1149-frame333214 {
    top: 10px;
        /* left: 320px; */
        width: 550px;
        height: auto;
        display: flex;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        border-color: transparent;
        box-sizing: border-box;
}

.picture-frame-1 {
    top: 10px;
        /* left: 320px; */
        width: 550px;
        height: auto;
        display: flex;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        border-color: transparent;
        box-sizing: border-box;
        margin-top: 12%;
}

.desktop1149-frame333219 {
    top: 10px;
    /* left: 320px; */
    width: 550px;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    box-sizing: border-box;
}

.picture-frame-2 {
    top: 10px;
        /* left: 320px; */
        width: 550px;
        height: auto;
        display: flex;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        border-color: transparent;
        box-sizing: border-box;
        margin-top: 12%;
}

.desktop1149-image4 {
    top: 230px;
    left: 17px;
    width: 224px;
    height: 18px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.desktop1149-btn33190 {
    top: 230px;
    left: 235px;
    width: 100px;
    height: 104px;
    display: flex;
    padding: 0 38px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 1000px;
    background-color: var(--dl-color-default-primary68cc8);
}

.desktop1149-text23 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    align-self: auto;
    text-align: center;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-text24 {
    top: 0;
        /* left: 0; */
        color: rgba(0, 0, 0, 1);
        width: 487px;
        height: auto;
        position: absolute;
        font-size: 36px;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-family: Oleo Script Swash Caps;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        margin-top: 40px;
        text-decoration: none;
}

.hairdresser-title {
    top: 0;
        /* left: 0; */
        color: rgba(0, 0, 0, 1);
        width: 487px;
        height: auto;
        position: absolute;
        font-size: 36px;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-family: Oleo Script Swash Caps;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        margin-top: 40px;
        text-decoration: none;
        border-bottom-style: groove;
}

.desktop1149-frame233194 {
    top: 480px;
        /* left: 37px; */
        width: fit-content;
        height: 50px;
        display: flex;
        padding: 10px;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        background: darkred;
        border-radius: 50px;
        flex-direction: column;
        justify-content: center;
}

.button-book {
    top: 480px;
    /* left: 37px; */
    width: fit-content;
    height: 50px;
    display: flex;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    background: darkred;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
}

.desktop1149-text25 {
    color: white;
        height: auto;
        align-self: center;
        text-align: left;
        /* line-height: 160px; */
        text-decoration: none;
        font-family: sans-serif;
        font-size: 13px;
}

.book-text {
    color: white;
    height: auto;
    align-self: center;
    text-align: left;
    /* line-height: 160px; */
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
}

.desktop1149-svg2 {
    /* left: 29px; */
        width: 359;
        height: 197;
        position: relative;
        height: 309px;
        width: -webkit-fill-available;
}

.male-dresser {
    /* left: 29px; */
    width: 359;
    height: 197;
    position: relative;
    height: 309px;
    width: -webkit-fill-available;
}

.female-dresser {
    /* left: 29px; */
    width: 359;
    height: 197;
    position: relative;
    height: 309px;
    width: -webkit-fill-available;
}

.desktop1149-womens-hair-cut33201 {
    /* top: 252px; */
        /* left: 712px; */
        width: 581px;
        height: 577px;
        display: flex;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        flex-shrink: 1;
        justify-content: center;
        border-color: transparent;
}

.hairdresser-2 {
    /* top: 252px; */
    /* left: 712px; */
    width: 581px;
    height: 577px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
    border-color: transparent;
}

.desktop1149-text26 {
    top: 100px;
        /* left: 3px; */
        color: rgba(0, 0, 0, 1);
        width: 578px;
        height: fit-content;
        position: absolute;
        align-self: auto;
        text-align: center;
        /* line-height: 160px; */
        text-decoration: none;
        font-size: 20px;
        left: 0;
}

.hairdresser-summary-2 {
    top: 100px;
    /* left: 3px; */
    color: rgba(0, 0, 0, 1);
    width: 578px;
    height: fit-content;
    position: absolute;
    align-self: auto;
    text-align: center;
    /* line-height: 160px; */
    text-decoration: none;
    font-size: 20px;
    left: 0;
}

.desktop1149-image5 {
    top: 230px;
    left: 12px;
    width: 224px;
    height: 18px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.desktop1149-btn33208 {
    top: 230px;
    left: 230px;
    width: 100px;
    height: 104px;
    display: flex;
    padding: 0 38px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 1000px;
    background-color: var(--dl-color-default-primary68cc8);
}

.desktop1149-text27 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    align-self: auto;
    text-align: center;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-text28 {
    top: 0;
        /* left: 0px; */
        color: rgba(0, 0, 0, 1);
        width: 487px;
        height: auto;
        position: absolute;
        font-size: 36px;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-family: Oleo Script Swash Caps;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        margin-top: 40px;
}

.hairdresser-title-2 {
    top: 0;
        /* left: 0px; */
        color: rgba(0, 0, 0, 1);
        width: 487px;
        height: auto;
        position: absolute;
        font-size: 36px;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-family: Oleo Script Swash Caps;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        margin-top: 40px;
        border-bottom-style: groove;
}

.desktop1149-frame233211 {
    top: 480px;
        /* left: 37px; */
        width: fit-content;
        height: 50px;
        display: flex;
        padding: 10px;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        background: darkred;
        border-radius: 50px;
        flex-direction: column;
        justify-content: center;
}

.button-book-2 {
    top: 480px;
    /* left: 37px; */
    width: fit-content;
    height: 50px;
    display: flex;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    background: darkred;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
}

.desktop1149-text29 {
    color: white;
        height: auto;
        align-self: center;
        /* text-align: left; */
        /* line-height: 160px; */
        text-decoration: none;
        font-family: sans-serif;
        font-size: 13px;
}

.book-text-2 {
    color: white;
    height: auto;
    align-self: center;
    /* text-align: left; */
    /* line-height: 160px; */
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
}

.desktop1149-svg3 {
    left: 24px;
    width: 359;
    height: 197;
    position: absolute;
}

.desktop1149-our-expertise33215 {
    top: 280%;
        /* left: 0px; */
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        position: absolute;
        box-sizing: border-box;
        align-items: flex-start;
        border-color: transparent;
        background-color: var(--dl-color-default-lightd3a6b);
        justify-content: center;
}

.desktop1149-title33216 {
    /* top: 19px; */
        /* left: 190px; */
        width: fit-content;
        height: fit-content;
        display: flex;
        position: absolute;
        box-sizing: border-box;
        align-items: center;
        border-color: transparent;
        flex-direction: column;
}

.desktop1149-text30 {
    /* color: var(--dl-color-default-darkd8e6e); */
        width: fit-content;
        height: fit-content;
        font-size: 64px;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-family: Oleo Script Swash Caps;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        text-decoration: none;
        border-bottom-style: groove;
}

.desktop1149-text31 {
    /* color: rgba(0, 0, 0, 1); */
        width: fit-content;
        height: auto;
        font-size: 23px;
        align-self: auto;
        font-style: normal;
        text-align: center;
        font-family: Poppins;
        font-weight: 400px;
        /* line-height: 160px; */
        font-stretch: normal;
        margin-top: 20px;
        margin-left: 20%;
        text-decoration: none;
        margin-right: 20%;
}

.desktop1149-svg4 {
    width: 149;
    height: 1px;
}

.desktop1149-image6 {
    top: 2px;
    left: 0px;
    width: 1424px;
    height: 846px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(81, 80, 80, 0.5);
}

.desktop1149-mens-hair-cut33220 {
    top: 251px;
    left: 115px;
    width: 581px;
    height: 577px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.desktop1149-text32 {
    top: 367px;
    left: 3px;
    color: rgba(0, 0, 0, 1);
    width: 578px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame333222 {
    top: 401px;
    left: 320px;
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
}

.desktop1149-image7 {
    top: 230px;
    left: 17px;
    width: 280px;
    height: 18px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.desktop1149-text33 {
    top: 290px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 461px;
    height: auto;
    position: absolute;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-frame233231 {
    top: 480px;
    left: 37px;
    width: 120px;
    height: 97px;
    display: flex;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 100px;
    flex-direction: column;
    justify-content: flex-end;
}

.desktop1149-svg5 {
    left: 29px;
    width: 359;
    height: 197;
    position: absolute;
}

.desktop1149-womens-hair-cut33234 {
    top: 222px;
    left: 712px;
    width: 581px;
    height: 607px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.desktop1149-text34 {
    top: 396px;
    left: 12px;
    color: rgba(0, 0, 0, 1);
    width: 569px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-image8 {
    top: 260px;
    left: 12px;
    width: 280px;
    height: 18px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.desktop1149-text35 {
    top: 320px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 559px;
    height: auto;
    position: absolute;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-frame233244 {
    top: 510px;
    left: 32px;
    width: 120px;
    height: 97px;
    display: flex;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 100px;
    flex-direction: column;
    justify-content: flex-end;
}

.desktop1149-svg6 {
    left: 24px;
    width: 359;
    height: 227;
    position: absolute;
}

.desktop1149-book-a-service35293 {
    top: 3373px;
    left: 0px;
    width: 1424px;
    height: 1036px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-book-aservice35281 {
    width: 1302px;
    height: 882px;
    margin: 0 0 78px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-book-a-service35255 {
    height: 146px;
    margin: 0 0 18px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-text36 {
    color: var(--dl-color-default-darkd8e6e);
    width: 382px;
    height: auto;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-text37 {
    color: rgba(0, 0, 0, 1);
    width: 1121px;
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: justified;
    font-family: Poppins;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-text38 {
    color: rgba(0, 0, 0, 1);
    width: 1121px;
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: justified;
    font-family: Poppins;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-svg7 {
    width: 149;
    height: 1px;
}

.desktop1149-frame535262 {
    width: 922px;
    height: 64px;
    margin: 0 0 18px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-frame435259 {
    width: 870px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-lightd3a6b);
}

.desktop1149-text39 {
    top: -55px;
    left: 12px;
    color: rgba(2, 2, 2, 1);
    width: 277px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame635263 {
    width: 912px;
    height: 64px;
    margin: 0 0 18px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-frame435264 {
    width: 870px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-lightd3a6b);
}

.desktop1149-text40 {
    top: -43px;
    left: 12px;
    color: rgba(2, 2, 2, 1);
    width: 277px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame835269 {
    width: 385px;
    height: 75px;
    margin: 0 0 18px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-frame435270 {
    width: 369px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-lightd3a6b);
}

.desktop1149-text41 {
    top: -43px;
    left: 11px;
    color: rgba(2, 2, 2, 1);
    width: 277px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame735266 {
    width: 363px;
    height: 64px;
    margin: 0 0 18px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-frame435267 {
    width: 369px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-lightd3a6b);
}

.desktop1149-text42 {
    top: -43px;
    left: 12px;
    color: rgba(2, 2, 2, 1);
    width: 277px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame1035275 {
    width: 398px;
    height: 54px;
    margin: 0 0 18px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-frame435276 {
    width: 369px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-lightd3a6b);
}

.desktop1149-text43 {
    top: -43px;
    left: 12px;
    color: rgba(2, 2, 2, 1);
    width: 277px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame935272 {
    width: 363px;
    height: 64px;
    margin: 0 0 18px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-frame435273 {
    width: 369px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-lightd3a6b);
}

.desktop1149-text44 {
    top: -43px;
    left: 12px;
    color: rgba(2, 2, 2, 1);
    width: 277px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame1135278 {
    width: 922px;
    height: 265px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-frame435279 {
    width: 1240px;
    height: 265px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-lightd3a6b);
}

.desktop1149-text45 {
    top: -55px;
    left: 12px;
    color: rgba(2, 2, 2, 1);
    width: 277px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-btn35291 {
    width: 371px;
    height: 102px;
    display: flex;
    padding: 0 38px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 1000px;
    background-color: var(--dl-color-default-primary68cc8);
}

.desktop1149-text46 {
    color: rgba(255, 255, 255, 1);
    width: 226px;
    height: auto;
    align-self: auto;
    text-align: center;
    line-height: 160px;
    text-decoration: none;
}

.desktop1149-frame1435309 {
    top: 4680px;
    left: 0px;
    width: 687px;
    height: 463px;
    display: flex;
    padding: 32px 69px;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
    background-color: var(--dl-color-default-darkd8e6e);
}

.desktop1149-text47 {
    color: rgba(255, 255, 255, 1);
    width: 236px;
    height: auto;
    margin: 0 0 27px 0;
    font-size: 38px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-text51 {
    color: rgba(255, 255, 255, 1);
    width: 635px;
    height: auto;
    margin: 0 0 27px 0;
    font-size: 34px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Padauk;
    font-weight: 700px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-text55 {
    color: rgba(255, 255, 255, 1);
    width: 635px;
    height: auto;
    font-size: 34px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Padauk;
    font-weight: 700px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-frame1335300 {
    top: 4680px;
    left: 717px;
    width: 746px;
    height: 446px;
    display: flex;
    padding: 32px 69px;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
    background-color: var(--dl-color-default-darkd8e6e);
}

.desktop1149-text59 {
    color: rgba(255, 255, 255, 1);
    width: 236px;
    height: auto;
    margin: 0 0 27px 0;
    font-size: 38px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-text63 {
    color: rgba(255, 255, 255, 1);
    width: 635px;
    height: auto;
    margin: 0 0 27px 0;
    font-size: 34px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Padauk;
    font-weight: 700px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-text64 {
    color: rgba(255, 255, 255, 1);
    width: 635px;
    height: auto;
    font-size: 34px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Padauk;
    font-weight: 700px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-contact35304 {
    top: 4509px;
    left: 167px;
    width: 1121px;
    height: 129px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    flex-direction: column;
}

.desktop1149-text65 {
    color: var(--dl-color-default-darkd8e6e);
    width: 585px;
    height: auto;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Oleo Script Swash Caps;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-text66 {
    color: rgba(0, 0, 0, 1);
    width: 1121px;
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: justified;
    font-family: Poppins;
    font-weight: 400px;
    line-height: 160px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop1149-svg8 {
    width: 149;
    height: 1px;
}

footer {
    /* bottom: 0; */
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100vw;
        padding-top: 40px;
        top: 380%;
        /* color: grey; */
}

.footer-content {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: darkred;
        text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}

.socials a i {
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;

}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}